<footer class="page-footer amber accent-3 ">
    <div class="container">
      <div class="row">
        <div class="col l6 s12">
          <h5 class="black-text">UNIVERISDAD PEDAGOGICA Y TECNOLOGICA DE COLOMBIA</h5>
          <p class="black-text text-lighten-4">Sede cetral Tunja-Boyacá-Colombia</p>
          <p class="black-text text-lighten-4">Avenida Cental del Norte 39-115</p>
          <p class="black-text text-lighten-4">PBX: (57+8) 7405626</p>

        </div>
        <div class="col l4 offset-l2 s12">
          <h5 class="black-text">Atencion al Ciudadano</h5>
          <ul>
            <li><a class="black-text text-lighten-3" href="#!">Linea Gratuita: 01 8000 942024</a></li>
            <li><a class="black-text text-lighten-3" href="#!">7428263</a></li>
            <li><a class="black-text text-lighten-3" href="#!">Horario de atencion y servicio telefonico Lunes a Viernes de 8:00 am a 12:00 pm y 2:00 pm a 6:00pm</a></li>
            <li><a class="black-text text-lighten-3" href="#!">quejas.reclamos@uptc.edu.co</a></li>
          </ul>
        </div>
      </div>
    </div>
    <div class="footer-copyright">
      <div class="container black-text">
      © Copyright UPTC 2020 - Departamento de innovacion Academica
      <a class="black-text text-lighten-4 right" href="#!">--</a>
      </div>
    </div>
  </footer>