<div class="carousel">
    <a class="carousel-item" href="#one!"><img src="http://www.uptc.edu.co/eventos_uptc/resource/event/1378/flyer.jpg"></a>
    <a class="carousel-item" href="#two!"><img src="http://www.uptc.edu.co/eventos_uptc/resource/event/1377/flyer.jpg"></a>
    <a class="carousel-item" href="#three!"><img src="http://www.uptc.edu.co/eventos_uptc/resource/event/1366/flyer.jpg"></a>
    <a class="carousel-item" href="#four!"><img src="http://www.uptc.edu.co/eventos_uptc/resource/event/1369/flyer.jpg"></a>
    <a class="carousel-item" href="#five!"><img src="http://www.uptc.edu.co/eventos_uptc/resource/event/1356/flyer.jpg"></a>
  </div>