<nav class="grey">
    <div class="nav-wrapper">
        <a class="navbar-brand" href="#">
            <img src="../../../assets/main_logo_UPTC.png" alt=" UPTC" style=" height: 300; width:225px;">
        </a>
        <a href="#" data-target="mobile-demo" class="sidenav-trigger"><i class="material-icons">menu</i></a>
        <ul class="right hide-on-med-and-down">
            <li><a class="black-text" href="sass.html">Inicio</a></li>
            <li><a class="black-text" href="badges.html">Libros</a></li>
            <li><a class="black-text" href="collapsible.html">Novedades</a></li>
            <li><a class="black-text" href="collapsible.html">Convocatorias</a></li>
        </ul>
    </div>
</nav>

<ul class="sidenav" id="mobile-demo">
    <li><a href="sass.html">Inicio</a></li>
    <li><a href="badges.html">Libros</a></li>
    <li><a href="collapsible.html">Novedades</a></li>
    <li><a href="mobile.html">Convocatorias</a></li>
</ul>